{% load static from staticfiles %}
<!doctype html>

<html lang="fr">
    
    <head>
        
        <meta charset="utf-8">

        <title>{% block title %}Auxiliare{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width" >
		
        <meta name="description" content="Auxiliare">
		
		{% block css %}

		{% endblock %}
		<link rel="stylesheet" href='{% static "auxiliare/css/app.css" %}'>
		<link rel="stylesheet" href="{% static "auxiliare/css/foundation.min.css" %}">
		<link rel='stylesheet' href="{% static "auxiliare/css/foundation-icons.css" %}" type='text/css'>
		<link rel='stylesheet' href="{% static "auxiliare/css/foundation-datepicker.min.css" %}" type='text/css'>
		<link rel="icon" type="image/x-icon" href="{% static "auxiliare/favicon.ico" %}">
		
		<link rel="stylesheet" href="{% static "auxiliare/css/jquery-ui.css" %}">
		
    </head>

    <body>
		<span id="menu_view">

		</span>

		{% block content %}

		{% endblock %}
	
		<script src='{% static "auxiliare/js/vendor/jquery.min.js" %}'></script>
		<script src='{% static "auxiliare/js/jquery-ui.js" %}'></script>
		<script src='{% static "auxiliare/js/foundation.min.js" %}'></script>
		<script src='{% static "auxiliare/js/auxiliare.js" %}'></script>
		<script src='{% static "auxiliare/js/foundation-datepicker.min.js" %}'></script>
		<script src='{% static "auxiliare/js/foundation-datepicker.fr.js" %}'></script>
		<script src='{% static "auxiliare/js/foundation-datepicker.en-US.js" %}'></script>
		<script src='{% static "auxiliare/js/foundation-datepicker.en-GB.js" %}'></script>
		<script>
				$('#menu_view').load('{% url 'aux_menu' %}');
		</script>
		
	{% block javascript %}
		
	{% endblock %}
    </body>
    
</html>