{% load static from staticfiles %}
<div class="title-bar" data-responsive-toggle="paperworks-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle></button>
		<div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="paperworks-menu">
	<div id="responsive-menu">
		<div class="top-bar-left show-for-medium">
			<ul class="menu">
				<li class="menu-text"><a href="{% url 'aux_home' %}">Auxiliare</a></li>
				{% if paperworks_menu %}
					<li>
						<a href="{% url 'papermail-list' %}"><i class="fi-book"></i> Paperworks</a>
					</li>
				{% endif %}
				{% if simplecost_menu %}
					<li>
						<a href="{% url 'expense-list' %}"><i class="fi-dollar-bill"></i> Expense List</a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="top-bar-right show-for-medium">
			<ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a href='#'><img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'auxiliare/img/default_photo.png' %}{% endif %}" height="32" width="32"/></a>
						<ul class="menu">
							{% if user.is_superuser %}
								<li>
									<a href="{% url 'admin:index' %}"><i class="fi-torso-business"></i> Admin</a>
								</li>
                                                        {% endif %}
                                                        <li>
                                                                <a href="{% url 'aux_logout' %}"><i class="fi-power menu-i"></i> Logout</a>
                                                        </li>
						</ul>
				</li>


			</ul>
		</div>
		<div class="top-bar-left hide-for-medium">
			<ul class="menu">
				<li>
					<a href="{% url 'aux_home' %}"><i class="fi-home"></i></a>
				</li>
				{% if paperworks_menu %}
					<li>
						<a href="{% url 'papermail-list' %}"><i class="fi-book"></i></a>
					</li>
				{% endif %}
				{% if simplecost_menu %}
					<li>
						<a href="{% url 'expense-list' %}"><i class="fi-dollar-bill"></i></a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="top-bar-right hide-for-medium">
			<ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a href='#'><img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'auxiliare/img/default_photo.png' %}{% endif %}" height="16" width="16"/></a>
						<ul class="menu small-size">
							{% if user.is_superuser %}
								<li>
									<a href="{% url 'admin:index' %}"><i class="fi-torso-business"></i></a>
								</li>
                                                        {% endif %}
                                                        <li>
                                                                <a href="{% url 'aux_logout' %}"><i class="fi-power menu-i"></i></a>
                                                        </li>
						</ul>
				</li>


			</ul>
		</div>
	</div>
</div>
<script src='{% static "auxiliare/js/auxiliare.js" %}'></script>